body {
	background-color: rgb(47, 52, 59);
    margin: 0px;
    height:100%;
    overflow: hidden;
    


}

.menu {
	/*position: absolute;*/
	height: 150px;
	width: 400px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: rgba(166, 56, 0, 0.8);
	padding: 1em 1em 0em 1em ;
	text-align: center;
	border-bottom: 1px solid;
	border-color:rgb(255,255,255);
}

.menu h1 {
	font-size: 3em;
	color: rgb(236,236,231);
	/*text-shadow: 0 0 5px rgb(106, 221, 77);*/
	font-family: Helvetica;
}

.menu .button {
	background-color: #F2F2F2;
	width: 100px;
	margin: 0 auto;
	padding: 7px 12px;
	border: solid 1px rgb(192, 192, 192);
	cursor: pointer;
	text-shadow: 0 0 1px #FFF;
}

.menu .button:hover {
	background-color: #DDD;
}

.menu .button:active {
	background-color: #FFF;
}
