body {
	background-color: rgb(184, 51, 51);
        margin: 0px;
        overflow: hidden;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: rgba(170, 241, 18, 0.8);
	padding: 1.0em;
	text-align: center;
}

.menu h1 {
	font-size: 4em;
	text-shadow: 0 0 5px rgb(106, 221, 77);
	font-family: Helvetica;
}

.menu .button {
	background-color: #F2F2F2;
	width: 100px;
	margin: 0 auto;
	padding: 7px 12px;
	border: solid 1px rgb(192, 192, 192);
	cursor: pointer;
	text-shadow: 0 0 1px #FFF;
}

.menu .button:hover {
	background-color: #DDD;
}

.menu .button:active {
	background-color: #FFF;
}
